@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-gradient-text {
  background: linear-gradient(
   120deg,
    #ffffff 0%,
    #22c55e 25%,
    #ffffff 50%,
    #22c55e 75%,
    #ffffff 100%
  );
  background-size: 300% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 20s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
